---
import pkg from '../../package.json' assert { type: 'json' };
import GoogleFonts from '@/components/GoogleFonts.astro';

// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@/styles/global.css';

// TODO: check the social URLs below, our post URLs can't place image links
// relative to their directory
import { relUrl } from '@/lib/utils';

const author = pkg.author.name;
const license = pkg.license;

interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  image = '/img/posts/placeholder-1.jpg',
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="UTF-8" />


<meta name="viewport" content="width=device-width,initial-scale=1" />

<!-- Favicon related -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href={relUrl('favicon/apple-touch-icon.png')}
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href={relUrl('favicon/favicon-32x32.png')}
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href={relUrl('favicon/favicon-16x16.png')}
/>
<link rel="manifest" href={relUrl('favicon/site.webmanifest')} />

<meta name="generator" content={Astro.generator} />

<script async src="https://www.googletagmanager.com/gtag/js?id=G-YCXBYGJKZR"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-YCXBYGJKZR');
</script>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author} />
<!-- <meta name="copyright" content={license} /> -->

<!-- Site Map -->
<link rel="sitemap" href={relUrl('sitemap-index.xml')} />


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Remote Fonts -->
<GoogleFonts />

