---
import Link from '@/components/ButtonLink.astro';
import CategoryBadge from '@/components/category/Badge.astro';
import { getEntry, type CollectionEntry } from 'astro:content';
import Icon from 'node_modules/astro-icon/components/Icon.astro';
import FormattedDate from '../FormattedDate.astro';
import AvatarText from '../people/AvatarText.astro';

type Props = {
  post: CollectionEntry<'posts'>;
};
type Author = CollectionEntry<'people'>;
type Category = CollectionEntry<'category'>;
// type Tag = CollectionEntry<'tag'>;

const { post } = Astro.props;
const author: Author = await getEntry('people', post.data.author.id);
const category: Category = await getEntry('category', post.data.category.id);
---

<style>
  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
</style>

<div class="overflow-hidden rounded-lg border border-gray-200 bg-white shadow">
  <div class="inline-flex w-full space-x-3 p-1">
    <div class="flex-auto self-start">
      <AvatarText person={author}>
        <p class="date">
          <FormattedDate date={post.data.pubDate} />
        </p>
      </AvatarText>
    </div>
    <div class="justify-self-end">
      <CategoryBadge category={category.data} _content="textAndIcon" />
    </div>
  </div>

  <!-- max-w-sm -->
  <!-- <div> -->
  <a href={`/posts/${post.data.year}/${post.data.month}/${post.slug}/`}>
    <!-- width={720} height={360} -->
    <img src={post.data.heroImage} alt="" alt="" />
  </a>
  <!-- </div> -->

  <div class="p-2">
    <a href={`/posts/${post.data.year}/${post.data.month}/${post.slug}/`}>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        {post.data.title}
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-700">
      {post.data.description}
    </p>

    <!-- mt-auto doesn't adjust height, which is set by  -->
    <Link
      href={`/posts/${post.data.year}/${post.data.month}/${post.slug}/`}
      intent="primary"
      size="md"
      _content="textAndIcon"
    >
      Read more
      <Icon name="flowbite:arrow-right-outline" size={24} />
    </Link>
  </div>
</div>
